main {
  width: 60%;
  height: 80vh;
  background-color: azure;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Luckiest Guy, sans-serif;
}

h1 {
  padding: 35px 0 10px;
  font-size: 42px;
}

.container {
  display: inline-block;
  width: 350px;
  height: 350px;
  position: relative;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.text-img {
  margin: 0 auto;
  width: 24.7%;
}

#meme-text {
  width: 100%;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  color: white;
  display: flex;
  bottom: 8px;
}

.meme-image {
  width: 100%;
  height: 100%;
}

label , input {
  display: flex;
  padding: 5px 0 0;
  width: 100%;
}

.btn {
  margin: 15px 0;
  width: 115px;
  height: 50px;
  font-size: 20px;
  color: white;
}

#fire {
  background-color: red;
  border: 3px dashed red;
}

#water {
  background-color: blue;
  border: 5px double blue;
}

#earth {
  background-color: green;
  border: 6px groove green;
}

#mini-img {
  padding: 10px 0;
  display: inline-block;
  width: 352px;
  height: 60px;
}

.img {
  border: 1px solid black;
  width: 23%;
  height: 100%;
}
